footer {
  margin-top: 10px;
  border-top: 1px solid var(--white);
  padding: 10px;
  /* background-color: var(--primary-color); */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer a:hover {
  color: var(--darker-color);
}
